.text-black {
  color: #000;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1075px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1175px;
  }
}
@media screen and (min-width: 1800px) {
  .container {
    max-width: 1500px;
  }
}

@font-face {
  font-family: "roboto-regular";
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-bold";
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "roboto-boldItalic";
  src: url(../../assets/fonts/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: "roboto-black";
  src: url(../../assets/fonts/Roboto-Black.ttf);
}
input.form-control {
  border: none;
  box-shadow: 0 0 0 0.45px #000;
}
input.form-control::-moz-placeholder {
  color: #525252;
}
input.form-control::placeholder {
  color: #525252;
}
input.form-control:focus {
  box-shadow: 0 0 0 1px #000;
}

#login input.form-control {
  background-color: #EEF1F4;
}

#login {
  background-color: #0F161E;
  height: 100vh;
  width: 100%;
}
#login .login-card {
  border-radius: 1.1rem;
  padding-bottom: 2.25rem;
  width: 50%;
}
@media screen and (max-width: 991px) {
  #login .login-card {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  #login .login-card {
    width: 85%;
  }
}
@media screen and (max-width: 576px) {
  #login .login-card {
    width: 95%;
  }
}
#login .login-form button {
  padding-left: 2rem;
  padding-right: 2rem;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  width: 3rem;
  background-color: #cad3db;
}
#sidebar .sidebar-navmenu {
  margin-top: 2rem;
}
#sidebar .sidebar-navmenu .sidebar-navitem {
  cursor: pointer;
  margin: 1rem 0.5rem;
  border-radius: 0.45rem;
  color: #000;
}
#sidebar .sidebar-navmenu .sidebar-navitem.active {
  background-color: #e8ecef;
}
@media screen and (min-width: 768px) {
  #sidebar {
    width: 15rem;
  }
  #sidebar .sidebar-navitem {
    text-align: left;
  }
  #sidebar .sidebar-navitem.active {
    font-family: "roboto-bold";
    background: none !important;
  }
}

#navbar {
  margin-bottom: 1rem;
  width: 100%;
  padding: 1.5rem 1.5rem 1.5rem 3rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}
#navbar .search-container {
  width: 60%;
  position: relative;
}
#navbar .search-container input {
  width: 100%;
}
#navbar .search-container button {
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  #navbar .search-container {
    width: 60%;
    padding-left: 15rem !important;
  }
}
@media screen and (min-width: 991px) {
  #navbar .search-container {
    width: 45%;
  }
}
@media screen and (min-width: 1200px) {
  #navbar .search-container {
    width: 40%;
  }
}
#navbar .user-button {
  width: 32px;
  height: 32px;
  line-height: 30px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #969eab;
  color: #969eab;
  background-color: transparent;
  border-radius: 50%;
}
#navbar .user-button:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

#dashboard-body {
  padding-left: 3rem;
}
#dashboard-body .summary-thumb > div, #dashboard-body .summary-thumb p {
  cursor: pointer;
}
#dashboard-body .summary-thumb > div {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100px;
  aspect-ratio: 1/0.85;
  background-color: #cad3db;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dashboard-body .summary-thumb > div i {
  display: block;
  width: 48px;
  text-align: center;
  aspect-ratio: 1/1;
  font-size: 1.25rem;
  border: 1px solid #000;
  border-radius: 50%;
  line-height: 48px;
}
#dashboard-body .summary-thumb:nth-child(even) > div {
  background-color: #e8ecef;
}
@media screen and (min-width: 768px) {
  #dashboard-body {
    padding-left: 15rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto-regular";
  transition: all ease-in-out 0.15s;
}

a {
  text-decoration: none;
}

ul, ol, dl {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "roboto-bold";
}/*# sourceMappingURL=styles.css.map */