@import './variables/colors';
@import './variables/sizes';
@import './components/fonts';
@import './components/forms';
@import './pages/login';
@import './pages/dashboard';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto-regular';
    transition: all ease-in-out 0.15s;
}

a {
    text-decoration: none;
}

ul, ol, dl {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'roboto-bold';
}