<div id="sidebar">
  <div class="mt-4 mt-md-0">
      <div class="d-md-block d-none sidebar-logo w-75 mx-auto bg-white mt-3 py-2 px-4 rounded-4">
          <img class="w-100" src="/assets/images/uhcd-logo.png" alt="">
      </div>
      <button class="d-md-none d-block btn text-gray fs-5">
          <i class="ri-menu-2-line"></i>
      </button>
  </div>
  <ul class="sidebar-navmenu p-0 ps-md-4 text-center">
      <li class="d-none d-md-block sidebar-navitem active">Home</li>
      <li class="d-none d-md-block sidebar-navitem">All Childs/Case</li>
      <li class="d-none d-md-block sidebar-navitem">Users</li>
      <li class="d-none d-md-block sidebar-navitem">Sponsors</li>
      <!-- for mobile view -->
      <li class="d-block d-md-none sidebar-navitem active">
          <i class="ri-home-heart-line text-gray fs-5"></i>
      </li>
      <li class="d-block d-md-none sidebar-navitem">
          <i class="ri-group-2-line text-gray fs-5"></i>
      </li>
      <li class="d-block d-md-none sidebar-navitem">
          <i class="ri-team-line text-gray fs-5"></i>
      </li>
      <li class="d-block d-md-none sidebar-navitem">
          <i class="ri-user-star-line text-gray fs-5"></i>
      </li>
  </ul>
</div>